* {
	font-family: 'Raleway', Arial;
}

.v-list__tile__title {
	height: 40px;
}

.totalPrice {
	margin: 0 5px;
	font-size: 18px;
}
.discount {
	font-size: 18px;
	margin: 0 5px;
	font-weight: bold;
}

.v-text-field {
	margin-top: 0;
	padding-top: 0;
}

.v-text-field--box input, .v-text-field--full-width input, .v-text-field--outline input {
	margin-top: 0;
}

@media only screen and (min-width: 1904px) {
	.container {
		max-width: 1400px;
	}
}

@media only screen and (max-width: 650px) {
	.mobile-none {
		display: none;
	}
}